html {
    font-family: 'Noto Sans Mono', monospace;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

a {
    color: blue;
    text-decoration: none;
}

nav {
    margin: 2rem 0;
}

nav a {
    border: 2px solid transparent;
    padding: .5rem 1rem;
    border-radius: .25rem;
}

a#add-employee-btn {
    color: white;
    background: green;
}

a#add-employee-btn:hover {
    color: green;
    border: 2px solid green;
    background: transparent;
}

a#remove-employee-btn {
    color: white;
    background: red;
}

a#remove-employee-btn:hover {
    color: red;
    background: transparent;
    border: 2px solid red;
}

a#edit-employee-btn {
    color: white;
    background: black;
}

a#edit-employee-btn:hover {
    color: black;
    border: 2px solid black;
    background: transparent;
}

/* Breakpoints (Mobile-First) */

/* Small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* XL */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}