html {
    font-family: 'Noto Sans Mono', monospace;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex-container {
    display: flex;
}

.project-info {
    background: #eeeeee;
    padding: 2rem 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    line-height: 4rem;
}

h2 {
    line-height: 3rem;
}

h3 {
    line-height: 2rem;
    margin: 0 0 1rem 0;
}

p {
    line-height: 1rem;
}

a {
    color: blue;
    text-decoration: none;
}

button, input[type=button], input[type=submit] {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .75rem 1rem;
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
}

nav {
    margin: 2rem 0;
}

nav .flex-container {
    gap: .25rem;
}

nav button {
    width: 100%;
}

button#add-employee-btn {
    color: white;
    background: green;
}

button#add-employee-btn:hover {
    color: green;
    border: 2px solid green;
    background: transparent;
}

button#remove-employee-btn {
    color: white;
    background: red;
}

button#remove-employee-btn:hover {
    color: red;
    background: transparent;
    border: 2px solid red;
}

button#edit-employee-btn {
    color: white;
    background: black;
}

button#edit-employee-btn:hover {
    color: black;
    border: 2px solid black;
    background: transparent;
}

.button-titles {
    display: none;
}

form {

}

form label {
    font-weight: 700;
}

.form-group {

}

#add-employee-form-popup {
    display: none;
    position: fixed;
    background: #fff;
    border: 2px solid green;
    border-radius: .25rem;
    width: 70vw;
    height: 70vh;
    top: 15vh;
    left: 15vw;
    box-shadow: rgba(0,0,0,.25) 0 0 25px 0;
}

.add-employee-form-popup-label {
    background: green;
    width: 100%;
    padding: 1rem 0;
}

.add-employee-form-popup-label h3 {
    width: 100%;
    margin: 1rem 0;
    color: white;
}

#add-employee-form {
    margin: 1rem 0;
}

#add-submit-btn {

}

#employee-list {
    padding: 0 0 1rem 0;
}

#employee-list-table {
    width: 100%;
    text-align: center;
}

#employee-list-table th {
    background: #eeeeee;
    padding: .5rem;
}

#employee-list-table td {
    padding: .5rem;
    border-bottom: 2px solid #eeeeee;
}

footer {
    padding: 2rem 0;
    margin: 2rem 0 0 0;
    background: #eeeeee;
}

/* Breakpoints (Mobile-First) */

/* Small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    nav .flex-container {
        gap: .25rem;
        flex-direction: row;
    }

    .button-titles {
        display: inline;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* XL */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}