html {
    font-family: 'Poppins', sans-serif;
}

header {
    background: #eeeeee;
    padding: 2rem 0;
    margin: 0 0 4rem 0;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: orangered;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

p {
    line-height: 1.5rem;
}

a {
    color: blue;
    text-decoration: underline;
}

.form-instructions {
    margin: 0 0 2rem 0;
}

form {
    display: flex;
}

form label {
    font-weight: 700;
}

form input {
    padding: .5rem .5rem;
}

form input, form label {
    align-self: center;
    margin-right: 1rem;
}

#show-graph-btn {
    background: orangered;
    padding: 1rem 2rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid orangered;
    border-radius: .25rem;
}

#show-graph-btn:hover {
    border: 2px solid orangered;
    background: transparent;
    color: orangered;
    cursor: pointer;
}

#success-msg {
    display: none;
    color: green;
}

#min-max-error-msg {
    display: none;
    color: red;
}

.graph-title {
    margin: 2rem 0 0 0;
}

#graph-preview-box {
    margin: 2rem 0 0 0;
    width: 500px;
    height: 500px;
    background: #eeeeee;
    display: flex;
    justify-content: center;
}

#graph-preview-box p {
    align-self: center;
}

#graph-results-container {
    display: none;
    margin: 2rem 0 0 0;
}

footer {
    padding: 2rem 0;
    background: orangered;
    color: white;
    margin: 4rem 0 0 0;
}

/* Breakpoints (Mobile-First) */

/* Small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* XL */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}