html {
    font-family: 'Poppins', sans-serif;
}

header {
    background: #eeeeee;
    padding: 2rem 0;
    margin: 0 0 4rem 0;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

a {
    color: blue;
    text-decoration: underline;
}

.graph-title {
    margin: 2rem 0 0 0;
}

#graph-preview-box {
    margin: 2rem 0 0 0;
    width: 500px;
    height: 500px;
    background: #eeeeee;
    display: flex;
    justify-content: center;
}

#graph-preview-box p {
    align-self: center;
}

#graph-results-container {
    display: none;
    margin: 2rem 0 0 0;
}

footer {
    padding: 2rem 0;
    background: orangered;
    color: #eeeeee;
    margin: 4rem 0 0 0;
}

/* Breakpoints (Mobile-First) */

/* Small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* XL */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}